:root {
    --color-neutral-default-10: 0, 0%, 100%;
    --color-neutral-default-70: 220, 5%, 12%;
}

:root {
    // brand colors tokens:
    --color-brand-10: hsla(354, 100%, 96%, 1);
    --color-brand-20: hsla(355, 100%, 82%, 1);
    --color-brand-30: hsla(356, 84%, 67%, 1);
    --color-brand-40: hsla(356, 73%, 46%, 1);
    --color-brand-50: hsla(356, 63%, 41%, 1);
    --color-brand-60: hsla(357, 55%, 30%, 1);

    // primary colors tokens:
    --color-primary-10: hsla(216, 36%, 95%, 1);
    --color-primary-20: hsla(213, 34%, 71%, 1);
    --color-primary-30: hsla(213, 33%, 58%, 1);
    --color-primary-40: hsla(209, 61%, 34%, 1);
    --color-primary-50: hsla(212, 100%, 19%, 1);
    --color-primary-60: hsla(215, 100%, 15%, 1);

    // neutral colors tokens:
    --color-neutral-10: hsla(0, 0%, 100%, 1);
    --color-neutral-20: hsla(200, 13%, 95%, 1);
    --color-neutral-30: hsla(200, 10%, 88%, 1);
    --color-neutral-40: hsla(202, 8%, 80%, 1);
    --color-neutral-50: hsla(201, 6%, 53%, 1);
    --color-neutral-60: hsla(203, 5%, 30%, 1);
    --color-neutral-70: hsla(var(--color-neutral-default-70), 1);

    // feedback colors tokens:
    // info:
    --color-info-10: hsla(249, 25%, 90%, 1);
    --color-info-20: hsla(249, 19%, 65%, 1);
    --color-info-30: hsla(250, 31%, 40%, 1);
    --color-info-40: hsla(249, 54%, 21%, 1);

     // success:
     --color-success-10: hsla(82, 36%, 90%, 1);
     --color-success-20: hsla(82, 37%, 63%, 1);
     --color-success-30: hsla(82, 59%, 39%, 1);
     --color-success-40: hsla(82, 100%, 12%, 1);

      // warning:
      --color-warning-10: hsla(42, 76%, 90%, 1);
      --color-warning-20: hsla(41, 75%, 76%, 1);
      --color-warning-30: hsla(41, 75%, 58%, 1);
      --color-warning-40: hsla(40, 100%, 20%, 1);

      // errors:
      --color-error-10: hsla(27, 70%, 89%, 1);
      --color-error-20: hsla(26, 74%, 66%, 1);
      --color-error-30: hsla(26, 81%, 52%, 1);
      --color-error-40: hsla(15, 100%, 24%, 1);
}